div{
    position: absolute;
    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}
td{
    width: 5vh;
    height: 5vh;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    text-align: center;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}